<div class="container text-center">
  <div class="row">
    <div class="col" style="position: relative">
    </div>
    <div class="col-md-8 col-sm-12">
      <h2>You Speak English?</h2>
      <div class="poem-text mb-4">
        <div>You arrogate to cognize the language you aver</div>
        <div>But thats just palaver and cajolery</div>
        <div>You misconstrue your perspicacity of your endemic patois</div>
        <div>I'd boggled and bamboozled if you could diagnosticate this argot</div>
        <div>The exactitude and eccentricity of this poesy makes it feel affectatious</div>
        <div>But its merely an injunction to help you descry your outrecuidance</div>
        <div>Forgo your recalcitrance and contumacy</div>
        <div>Instead, heed this exhortation with an air of gaiety</div>
        <div class="important">Because I didn't understand any of it either</div>
      </div>
        <button class="btn btn-primary back" routerLinkActive="active" routerLink="/welcome">Back to main page</button>
    </div>
    <div class="col" style="position: relative">
    </div>
  </div>
</div>
