<div class="container text-center">
    <main style="position: relative">
      <div class="wreath"><img src="assets/Christmas_wreath_small.png"></div>
      <div class="title">Christmas Rap</div>
      <div class="poem-text">
        <div>Oh the season is here</div>
        <div>With holiday cheer</div>
        <div>So grab a cold beer</div>
        <div>You've got nothing to fear</div>
        <div>Don't give me that leer</div>
        <div>Just lend me your ear</div>
        <div>bring friends oh so near</div>
        <div>Its the end of the year</div>
        <div>With a skip, jump, and hop</div>
        <div>To new rhymes, chop chop chop</div>
        <div>Soon the ball will drop</div>
        <div>Fireworks will go pop</div>
        <div>The year will them stop</div>
        <div>We'll come back to the top</div>
        <div>And hope it don't flop</div>
        <div>Send Xs and Os</div>
        <div>And love to all those</div>
        <div>To sisters and bros</div>
        <div>You how it goes</div>
        <div>The waters have froze</div>
        <div>And the fire it grows</div>
        <div>Giving feelings of coz... y?</div>
        <div>...That ones on me...</div>
        <div>Get gifts that free</div>
        <div>But are they really?</div>
        <div>Couldn't possibly</div>
        <div>You must pay the fee</div>
        <div>And buy gifts for fam'ly</div>
        <div>Thats just how it be</div>
        <div>But worth for their glee</div>
        <div>Convene for one day</div>
        <div>Some might also pray</div>
        <div>Some words they must say</div>
        <div>Send gifts others' way</div>
        <div>Spread feelings of gay</div>
        <div>And into the fray</div>
        <div>Of wrapping paper spray</div>
        <div>Hear kids yelling "yay!"</div>
        <div>Then head out on your way</div>
        <div>And the last thing that you'll say</div>
        <div>"Bye bye have a good day!"</div>
      </div>
      <button class="btn btn-success" routerLinkActive="active" routerLink="/welcome">Back to main page</button>
    </main>
</div>
