<div class="background">
  <div class="container text-center">
    <div class="row">
      <div class="col" style="position: relative">
      </div>
      <div class="col-md-10 col-sm-12 mb-3">
        <h2>Edgar Allen Poem</h2>
        <div class="poem-text mb-4">
          <div>On a cold, dark Thursday night</div>
          <div>I go to a friend's with hopes for a fright</div>
          <div>To watch some movies, so scary, so thrilling</div>
          <div>With monsters, gore, demons, and killing</div>
          <div>Off the lights go and on the blanket comes</div>
          <div>On the couch and bean bag chair have we planted our bums</div>
          <div>The film starts up</div>
          <div>With a warm drink in my cup</div>
          <div>Eager to begin</div>
          <div>The terror within</div>
          <br>
          <div><fa-icon [icon]="faPlaceholder"></fa-icon></div>
          <br>
          <div>Watch them hope naught for death</div>
          <div>Yet escapes them does their final breath</div>
          <div>The long sleep comes for us all</div>
          <div>With movies we watch it, completely enthralled</div>
          <div>My eyes glued to the horror</div>
          <div>Of sanguine blood and screeching screams</div>
          <div>The movie, its bored her</div>
          <div>Hailing no attention to the screen</div>
          <div>"I'm not even scared," She says irritated</div>
          <div>"Lets watch something else," Her tone becomes jaded</div>
          <div>"Yes please" I say, the terror etched on my face</div>
          <div>My backseat never felt more like a killers' home base</div>
          <br>
          <div><fa-icon [icon]="faPlaceholder"></fa-icon></div>
          <br>
          <div>The movie ends, not bad it would seem</div>
          <div>Less scary right now and more in my dreams</div>
          <div>Fear has park in the space on my face</div>
          <div>Still not as good as <span style="font-style: italic">A Quiet Place</span></div>
          <div>the goodbyes that I say</div>
          <div>Prepare my fleeting way</div>
          <div>With only a car ride ahead</div>
          <div>Yet afraid I'll end up dead</div>
          <br>
          <div><fa-icon [icon]="faPlaceholder"></fa-icon></div>
          <br>
          <div>But t'was not the monsters nor the demons</div>
          <div>From which the movies they had been seen in</div>
          <div>That attacked my body with their piercing claws</div>
          <div>But my brain which gave my heart a lethal pause</div>
          <div>Leaving my body to lay upon the floor</div>
          <div>Living, laughing, loving nevermore</div>
        </div>
        <button class="btn btn-primary" routerLinkActive="active" routerLink="/welcome">Back to main page</button>
      </div>
      <div class="col" style="position: relative">
      </div>
    </div>
  </div>
</div>
