<div class="background" style="min-height: 100vh">
  <div class="container text-center">
    <div class="row">
      <div class=" offset-md-2 col-md-8 col-sm-12 mb-3">
        <div class="help" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" placement="end" [openDelay]="500" ngbTooltip="Fun Fact"><fa-icon [icon]="faHelp"></fa-icon></div>
        <div class="leave" routerLink="/welcome" placement="start" [openDelay]="500" ngbTooltip="Back to home page"><fa-icon [icon]="faLeave"></fa-icon></div>
        <div class="testing"><h2>Find It Quick</h2></div>
        <div class="mb-3" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <div class="card" style="background: transparent; font-family: 'Josefin Slab', serif;">
            <div class="card-header" style="text-shadow: 0px 0px 1px #000000">
              Fun fact
            </div>
            <div class="card-body">
              This poem is in the form of a <a style="color:rgb(31, 31, 141)" href="https://poets.org/glossary/villanelle">Villanelle</a>, with a few minor changes.
            </div>
          </div>
        </div>
        <div class="poem-text mb-3">
          <div class="important" style="text-shadow: 0px 0px 1px #000000">Searching far and wide for my hidden might</div>
          <div>I must find it quick while I've got time</div>
          <div class="important" style="text-shadow: 0px 0px 1px #000000">Cherish the day, while fearing the night</div>
          <div *ngIf="!showStanza2" (click)="showStanza2 = true" @flyInOutLeft class="wrapper mx-auto">
            <div class="button-outline" style="position: absolute">
            </div>
            <div class="button my-3">
              <fa-icon [icon]="faContinue"></fa-icon>
            </div>
          </div>
          <br>
          <div *ngIf="showStanza2" @flyInOutRight>
            <div style="text-align: right">The strength I want won't help in a fight</div>
            <div style="text-align: right">Because its the strength to be alone</div>
            <div class="important" style="text-shadow: 0px 0px 2px #000000; text-align: right">Searching deep within for my hidden might</div>
            <div *ngIf="!showStanza3" (click)="showStanza3 = true" @flyInOutRight class="wrapper" style="margin-right: 0px; margin-left: auto">
              <div class="button-outline" style="position: absolute">
              </div>
              <div class="button my-3">
                <fa-icon [icon]="faContinue"></fa-icon>
              </div>
            </div>
          </div>
          <br>
          <div *ngIf="showStanza3" @flyInOutLeft>
            <div style="text-align: left">The sun reveals friends with its light</div>
            <div style="text-align: left">The moon closes doors and masks my eyes</div>
            <div class="important" style="text-shadow: 0px 1px 2px #000000; text-align: left">Cherish the day, while fearing the night</div>
            <div *ngIf="!showStanza4" (click)="showStanza4 = true" @flyInOutLeft class="wrapper">
              <div class="button-outline" style="position: absolute">
              </div>
              <div class="button my-3">
                <fa-icon [icon]="faContinue"></fa-icon>
              </div>
            </div>
          </div>
          <br>
          <div *ngIf="showStanza4" @flyInOutRight>
            <div style="text-align: right">Scouring under the waves, beyond left and right</div>
            <div style="text-align: right">I hold my breath through my perilous dive</div>
            <div class="important" style="text-shadow: -1px 1px 2px #000000; text-align: right">Searching deep below for my hidden might</div>
            <div *ngIf="!showStanza5" (click)="showStanza5 = true" @flyInOutRight class="wrapper" style="margin-right: 0px; margin-left: auto">
              <div class="button-outline" style="position: absolute">
              </div>
              <div class="button my-3">
                <fa-icon [icon]="faContinue"></fa-icon>
              </div>
            </div>
          </div>
          <br>
          <div *ngIf="showStanza5" @flyInOutLeft>
            <div style="text-align: left">The dawn uncovers paths with futures bright</div>
            <div style="text-align: left">But the dread of dusk obscures my options</div>
            <div class="important" style="text-shadow: -1px 2px 2px #000000; text-align: left">Cherish the day, while fearing the night</div>
            <div *ngIf="!showStanza6" (click)="showStanza6 = true" @flyInOutLeft class="wrapper">
              <div class="button-outline" style="position: absolute">
              </div>
              <div class="button my-3">
                <fa-icon [icon]="faContinue"></fa-icon>
              </div>
            </div>
          </div>
          <br>
          <div *ngIf="showStanza6" @flyInOutRight>
            <div>I'm putting in work to resolve my plight</div>
            <div>I've won when I know its never too late</div>
            <div class="important" style="text-shadow: -1px 2px 3px #000000">Searching deep inside for my hidden might</div>
            <div class="important" style="text-shadow: -1px 2px 3px #000000">Cherish the day, embracing the night</div>
            <button class="btn btn-outline-primary mt-4" style="position: relative; cursor: pointer; width: max-content" routerLinkActive="active" routerLink="/welcome">Back to the main page</button>
          </div>
      </div>
    </div>
  </div>
</div>
