<div class="container text-center">
  <div class="row">
    <div class="col" style="position: relative">
    </div>
    <div class="col-md-8 col-sm-12 mb-3">
      <h2>You're My Dad</h2>
      <div class="poem-text mb-4">
        <div>Oh hey, its you, my male parental unit</div>
        <div>Many life events, <span class="important">together</span> we've been through it</div>
        <div>Dealing out dad jokes, the punch line like a bang</div>
        <div>To me are very funny, but to some they want to hang</div>
        <div style="text-shadow: 0 0 10px #1ee90bde">You've been there since the beginning, since I was but a child</div>
        <div style="text-shadow: 0 0 10px #1ee90bde">I think I can say for certain that I've known you for a while</div>
        <div class="icons" style="filter: drop-shadow(0px 0px 8px #1ee90bde); color: green"><fa-icon [icon]="faChild"></fa-icon></div>
        <div>But tho you were not chosen from amoung the populace</div>
        <div>Does not mean your absence would bring me any bliss</div>
        <div style="text-shadow: 0 0 10px #64412d">No, to know you have been a pleasure and one I would not change</div>
        <div style="text-shadow: 0 0 10px #64412d">You're a dashing dandy daddy like a cowboy on a range</div>
        <div class="icons" style="filter: drop-shadow(0px 2px 8px #744732); color: rgb(112, 64, 44)"><fa-icon [icon]="faCowboy"></fa-icon></div>
        <div style="text-shadow: 0 0 10px #66ebd9">Your computer skills unmatched and handy to a T</div>
        <div style="text-shadow: 0 0 10px #66ebd9">Some would call you smart but we know you're just nerdy</div>
        <div class="icons" style="filter: drop-shadow(0px 2px 8px #06e0f0); color: rgb(48, 171, 212)"><fa-icon [icon]="faGlasses"></fa-icon></div>
        <div>Your humor has inspired me to become the most funny</div>
        <div>I'm afraid I have to tell you that the best comic is me</div>
        <div style="text-shadow: 0 0 10px #cece45">But this poem is about you, so lets get back to the topic</div>
        <div style="text-shadow: 0 0 10px #cece45">Your smile is so bright like the sunshine in the tropics</div>
        <div class="icons" style="filter: drop-shadow(0px 0px 8px #cece45); color: #ffff00"><fa-icon [icon]="faSun"></fa-icon></div>
        <div>I think I am required to include Sam in this verse</div>
        <div>"Your goofy girlfriends cool" I say, to not leave in a hearse</div>
        <div>You're a busy businessman with a bitchin' bachelor pad</div>
        <div>But your girlfriend is right there and that name might make her mad</div>
        <div style="text-shadow: 0 0 10px #d37800">I know you're not the best about telling us your feelings</div>
        <div style="text-shadow: 0 0 10px #d37800">But someday you'll learn to open up like an orange and its peelings</div>
        <div class="icons" style="filter: drop-shadow(0px 3px 8px #d37800); color: #db7602"><fa-icon [icon]="faOpen"></fa-icon></div>
        <div>Don't you go on thinking that we'd ever forget about you</div>
        <div>You're our playful passive pa, and that much will always be true</div>
      </div>
      <button class="btn btn-outline-info" routerLinkActive="active" routerLink="/welcome">Back to main page</button>
    </div>
    <div class="col" style="position: relative">
    </div>
  </div>
</div>
