<div class="scrollable">
  <div class="background">
    <div class="stars" *ngFor="let stars of starsLoop" [ngClass]="{'animate-stars': !styleService.getIsMobile()}">
      <div class="shooting" *ngFor="let shooting of shootingLoop"></div>
      <div class="star" *ngFor="let star of starLoop"></div>
    </div>
    <div class="stars2 animate-stars2" *ngFor="let stars of starsLoop">
      <div class="star2" *ngFor="let star of starLoop"></div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col-12 my-3">
          <div style="position: relative">
            <div class="satellite-container">
              <fa-icon class="satellite" [icon]="faSatellite"></fa-icon>
              <span class="rocket"><fa-icon class="fire-flicker" style="color: red; position: absolute; transform: rotate(-135deg) translateY(-25px) scale(0.5, 1);" [icon]="faFire"></fa-icon><fa-icon class="fire-flicker" style="color: rgb(255, 115, 0); position: absolute; transform: rotate(-135deg) translateY(-21px) scale(0.5, 1); opacity: 0.8;" [icon]="faFire"></fa-icon><fa-icon [icon]="faFlyingRocket"></fa-icon></span>
            </div>
            <h2>
              <fa-icon class="world-icon" [icon]="faWorld"></fa-icon>
              <div class="world-text">The World</div>
            </h2>
          </div>
          <div class="poem-text mb-3">
            <div>Upon a summer day, I met a bonny lass</div>
            <div>A day like any other, yet with cryptic crushing mass</div>
            <div>The weight of our first meeting, enough to quell the sun</div>
            <div>An adventure to the last moment that it was finally done</div>
            <div>Discovering who you are, and everything that'll be</div>
            <div>Imagination runs wild to see what you were to me...</div>
            <br>
            <div>You were a mighty ship, taking me to new places</div>
            <div>Swaying in the waves and wind at rhythmic paces</div>
            <div>Traversing the sea by powers beyond our control</div>
            <div>Set in your ways, slicing water with your hull</div>
            <div>But near our destination we arrived upon the rocks</div>
            <div>Like thunder without lightning, no electricity but still a shock</div>
            <div>Boat becoming wood becoming sticks becoming splinters</div>
            <div>A waste of elaborate work that cost several winters</div>
            <div>I lay upon the beach, pondering my next step</div>
            <div>Feeling like the fly left to wait upon the web</div>
            <div>Ever encroaching loneliness comes to devour me whole</div>
            <div>Stranded on this island where my only friend's the shoal</div>
            <br>
            <div>And you were a moutain, reaching to the sky</div>
            <div>An immovable presence here way before I</div>
            <div>A natural beauty that can be seen for miles</div>
            <div>With abounding climbers discovering your trials</div>
            <div>I was there at your base, looking up to you</div>
            <div>Around it or over it, you can't go through</div>
            <div>But a mountain is stagnant, and unwilling to change</div>
            <div>Its unyielding ways span its whole range</div>
            <div>And it carries a secret that only they know</div>
            <div>Unexpected explosions reveal the volcano</div>
            <br>
            <div>And you were a whirlpool, spinning me about</div>
            <div>Not sure where to go, I only wanted out</div>
            <div>Confused and dazed in so many ways</div>
            <div>Asking for breathes from a watery maze</div>
            <div>Fighting a war with a showering hiss</div>
            <div>My opponent is you, Great Charybdis</div>
            <div>I found my way out, I'm still feeling dizzy</div>
            <div>Aimlessly wandering, just trying to keep busy</div>
            <div>Ignoring the wait that might end on a whim</div>
            <div>When the waters die down I'd still wish for a swim</div>
            <br>
            <div>And you were a bear trap, holding me snug</div>
            <div>An inescapable cage, a pain ridden hug</div>
            <div>It seemed to me, my only option was amputation</div>
            <div>Dire liberation from my freedoms confiscation</div>
            <div>A piece of myself is the price of emancipation</div>
            <div>A burning of bridges to stop the inflamation</div>
            <div>But I return to the minefield to find what I've lost</div>
            <div>I'll be not but whole, still searching at any cost</div>
            <div>And now I'm right back to the position where I started</div>
            <div>By a small metal trap I've been completely outsmarted</div>
            <br>
            <div>And after all the things that I saw you be</div>
            <div>I realized that you were the world to me</div>
            <div>A tremendous, tumultuous, terrifying earth</div>
            <div>Whose fascinating wonders are of great worth</div>
            <div>But the size of the globe makes it easy to forget</div>
            <div>The insignificant lad who you'd only just met</div>
            <div>It takes two to tango, My rule carved in stone</div>
            <div>Only now do I realize I was dancing alone</div>
          </div>
          <img class="astronaut" src="assets/astronaut.svg">
          <div class="mx-auto back" style="position: relative; cursor: pointer; width: max-content" routerLinkActive="active" routerLink="/welcome">
            <!-- <span class="back-text">Back to the main page</span> -->
            <fa-icon class="back-flame1" [icon]="faShuttleFlame"></fa-icon>
            <fa-icon class="back-flame2" [icon]="faShuttleFlame"></fa-icon>
            <fa-icon class="back-icon" [icon]="faRocket"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
