<div class="container text-center">
  <div class="row">
    <div class="col-md-2" style="position: relative">
    </div>
    <div class="col-md-8 col-sm-12">
      <h2>The World</h2>
      <div class="poem-text mb-4">
        <div>Upon a summer day, I met a bonny lass</div>
        <div>A day like any other, with a cryptic crushing mass</div>
        <div></div>
        <div>Discovering everything that you were</div>
        <br>
        <div>You were a mighty ship, taking me to new places</div>
        <div>Swaying in the waves and wind at rhythmic paces</div>
        <div>Traversing the sea by powers beyond our control</div>
        <div>Set in your ways, slicing water with your hull</div>
        <div>But near our destination we arrived upon the rocks</div>
        <div>Like thunder without lightning, no electricity but still a shock</div>
        <div>Wood becoming sticks, sticks becoming splinters</div>
        <div>A waste of elaborate work that cost several winters</div>
        <div>I lay upon the beach, pondering my next step</div>
        <div>Feeling like the fly left to wait upon the web</div>
        <div>Ever encroaching loneliness comes to devour me whole</div>
        <div>Stranded on this island where my only friend's the shoal</div>
        <br>
        <div>And you were a moutain, reaching to the sky</div>
        <div>An immovable presence here way before I</div>
        <div>A natural beauty that can be seen for miles</div>
        <div>With abounding climbers discovering your trials</div>
        <div>I was standing at your base, looking up to you</div>
        <div>Around it or over it, but you can't go through</div>
        <div></div>
        <br>
        <div>And you were a whirlpool, spinning me about</div>
        <div>Not sure where to go, I only wanted out</div>
        <div>Confused and dazed in so many ways</div>
        <div>Asking for breathes from a watery maze</div>
        <div>Fighting a war with a showering hiss</div>
        <div>My opponent is you, great Charybdis</div>
        <div>I found my way out, I'm still feeling dizzy</div>
        <div>Aimlessly wandering, just trying to keep busy</div>
        <div>Ignoring the wait that might stop on a whim</div>
        <div>When the waters die down I'd still wish for a swim</div>
        <br>
        <div>And you were a bear trap, holding me snug</div>
        <div>An inescapable cage, a pain ridden hug</div>
        <div>The only option I saw was amputation</div>
        <div>Dire liberation from my freedoms confiscation</div>
        <div>A piece of myself is the price of emancipation</div>
        <div>A burning of bridges to stop the inflamation</div>
        <div>But I go back to the minefield to find what I've lost</div>
        <div>I'll be not but whole, still searching at any cost</div>
        <div>And now I'm right back to the position where I started</div>
        <div>By a small metal trap I've been completely outsmarted</div>
        <br>
        <div>And after all the things that I saw you be</div>
        <div>I realized that you were the world to me</div>
        <div>A tremendous, tumultuous, terrifying earth</div>
        <div>Whose fascinating wonders are of great worth</div>
        <div>But the size of the globe makes it easy to forget</div>
        <div>The insignificant lad who you'd only just met</div>
        <div>It takes two to tango, My rule carved in stone</div>
        <div>Only now do I realize I was dancing alone</div>
        <button class="btn btn-secondary mt-4" routerLinkActive="active" routerLink="/welcome">Back to main page</button>
      </div>
    </div>
  </div>
</div>
