/*** FONTS ***/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700)

.background
  color: #fff
  font-size: 18px
  background: radial-gradient(#003, #000)
  min-height: 100vh

$color-alpha: #b78846

// -------- Fancy border box --------
// https://codepen.io/MyXoToD/pen/VaazQq

h1
  font-weight: 700
  margin-bottom: 0.5em
  font-size: 30px
  font-family: 'Aboreto', cursive
  text-shadow: 0px 0px 5px #b78846, 0px 0px 5px #fff

.poem-text
  font-family: 'Cormorant Garamond', serif
  font-size: 23px
  font-style: italic
  text-shadow: 0px 0px 5px #b78846, 0px 0px 5px #fff

.box
  position: relative
  margin: 60px auto
  background-color: rgba(#000, 0.5)
  width: 100%
  max-width: 600px
  padding: 5px
  border: 2px solid $color-alpha
  &:before, &:after
    content: "•"
    position: absolute
    width: 14px
    height: 14px
    font-size: 14px
    color: $color-alpha
    border: 2px solid $color-alpha
    line-height: 12px
    top: 5px
    text-align: center
  &:before
    left: 5px
  &:after
    right: 5px
  .box-inner
    position: relative
    border: 2px solid $color-alpha
    padding: 40px
    &:before, &:after
      content: "•"
      position: absolute
      width: 14px
      height: 14px
      font-size: 14px
      color: $color-alpha
      border: 2px solid $color-alpha
      line-height: 12px
      bottom: -2px
      text-align: center
    &:before
      left: -2px
    &:after
      right: -2px

// -------- Woven title styling --------
// https://codepen.io/uniphil/pen/nLJZyZ

$size: 180px
$line: 4px

=star
  display: block
  width: $size
  height: $size
  border: $line solid $color-alpha
  border-radius: $size/3 - $line
  transition: all 1s ease-in-out

.weave
  +star
  margin: 0px auto
  position: relative
  color: white
  text-align: center
  padding-top: 60px
  font: 700 30px 'Aboreto', cursive
  &:before, &:after
    +star
    content: ""
    position: absolute
    top: -$line
    left: -$line
  &:before
    transform: rotate(30deg)
  &:after
    transform: rotate(60deg)

.weave:hover
  border-radius: 0px
  &:before
    border-radius: 0px
    transform: rotate(-120deg)
  &:after
    border-radius: 0px
    transform: rotate(120deg)

// -------- Fancy button styling --------
// https://codepen.io/electerious/details/qPjbGm/

.button
  --offset: 10px
  --border-size: 2px

  display: block
  position: relative
  padding: 1.0em 1.5em
  appearance: none
  border: 0
  background: transparent
  color: $color-alpha
  letter-spacing: .25em
  outline: none
  cursor: pointer
  font-weight: bold
  font-family: 'Aboreto', cursive
  border-radius: 0
  box-shadow: inset 0 0 0 var(--border-size) currentcolor
  transition: background .8s ease

  &:hover
    background: rgba(100, 0, 0, .03)

  &__horizontal,
  &__vertical
    position: absolute
    top: var(--horizontal-offset, 0)
    right: var(--vertical-offset, 0)
    bottom: var(--horizontal-offset, 0)
    left: var(--vertical-offset, 0)
    transition: transform .8s ease
    will-change: transform

    &::before
      content: ''
      position: absolute
      border: inherit

  &__horizontal
    --vertical-offset: calc(var(--offset) * -1)
    border-top: var(--border-size) solid currentcolor
    border-bottom: var(--border-size) solid currentcolor

    &::before
      top: calc(var(--vertical-offset) - var(--border-size))
      bottom: calc(var(--vertical-offset) - var(--border-size))
      left: calc(var(--vertical-offset) * -1)
      right: calc(var(--vertical-offset) * -1)

  &:hover &__horizontal
    transform: scaleX(0)

  &__vertical
    --horizontal-offset: calc(var(--offset) * -1)
    border-left: var(--border-size) solid currentcolor
    border-right: var(--border-size) solid currentcolor

    &::before
      top: calc(var(--horizontal-offset) * -1)
      bottom: calc(var(--horizontal-offset) * -1)
      left: calc(var(--horizontal-offset) - var(--border-size))
      right: calc(var(--horizontal-offset) - var(--border-size))

  &:hover &__vertical
    transform: scaleY(0)

