<div class="background">
  <div class="container text-center">
    <div class="row">
      <div class="col" style="position: relative">
      </div>
      <div class="col-md-8 col-sm-12 poem" style="position: relative;">
        <h2>The Prophecy</h2>
        <div class="person"><fa-icon [icon]="faUser"></fa-icon></div>
        <div class="poem-text mb-4">
          <div>Today I sit here rhyming of the future</div>
          <div>Weaving tomorrows like a doctor and suture</div>
          <div>Of how we'll meet and how it'll go</div>
          <div>Hopefully happy, doubtful without a row</div>
          <div>I'll know when I see you, and when I see you I'll know</div>
          <div>Together we'll stay to the places we'll go</div>
          <div>To elsewhere or nowhere, with movies and books</div>
          <div>Pretending I'll pick your personality or looks</div>
          <div>What letters could possibly construct your name</div>
          <div>What colors compose the photos we'll frame</div>
          <div>We'll share many hobbies and a desire for adventures</div>
          <div>We'll go on them even past the days we need dentures</div>
          <div>My dreams will be of you and the times when you are there</div>
          <div>the lack of your presence is my worst nightmare</div>
          <div>Hoping to be that which makes you happy</div>
          <div>Your presence will invite warm feelings to wrap me</div>
          <div>We'll do what we can while we are young</div>
          <div>We'll grow out of the age that makes us so dumb</div>
          <div>We'll have a daughter and give her a name</div>
          <div>Something simple and cute and easy to retain</div>
          <div>We'll have our own house on Cozy Avenue</div>
          <div>We'll have our little girl, courtesy of you</div>
          <div>And maybe a son, we'll think that one through</div>
          <div>We'll have it all, wanting not fancy nor new</div>
          <div>And when its all over we'll have no regrets</div>
          <div>We'll have done it all, even paid off our debts</div>
          <div>And the only thing closer than us through our strife</div>
          <div>Are the graves where we lay when we're through with this life</div>
        </div>
        <button class="btn btn-secondary" routerLinkActive="active" routerLink="/welcome">Back to main page</button>
      </div>
      <div class="col" style="position: relative">
      </div>
    </div>
  </div>
</div>
