.poem-text
  font-size: 20px
  font-family: 'Edu VIC WA NT Beginner', cursive
  font-weight: 500
  text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff

h2
  font-family: 'Edu NSW ACT Foundation', sans-serif
  font-weight: 700
  text-decoration: underline
  margin-top: 50px
  margin-bottom: 20px
  text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff

.btn
  margin-bottom: 20px

.poem
  background-color: #88878794
  box-shadow: 0px 0px 20px 20px #000000, 0px 0px 20px 20px #000000 inset, 0px 0px 30px 40px #00000080 inset, 0px 0px 30px 40px #00000080
  border-radius: 30%
  padding-bottom: 30px

.person
  position: absolute
  font-size: 500px
  bottom: 0%
  left: 50%
  transform: translateX(-50%)
  z-index: -1
  filter: blur(10px)

@media screen and (min-width: 1200px)
  .person
    font-size: 600px

@media screen and (max-width: 991px)
  .person
    font-size: 300px
    bottom: 5%
