<div class="container text-center">
  <div class="row">
    <div class="col" style="position: relative">
    </div>
    <div class="col-6">
      <div class="row pic" style="height: max-content; position: relative">
        <fa-icon class="left-arrow" style="left: 10px;" [icon]="faLeft"></fa-icon>
        <fa-icon routerLinkActive="active" routerLink="/tinder-poems-2" class="right-arrow" style="right: 10px" [icon]="faRight"></fa-icon>
        <fa-icon style="font-size: 300px;" [icon]="faPerson"></fa-icon>
        <div class="row mx-auto">
          <div class="col">
            <div class="tinder-button" style="border-color: white; color: white"><fa-icon [icon]="faRedo"></fa-icon></div>
          </div>
          <div class="col">
            <div class="tinder-big-button" style="border-color: rgb(216, 42, 42); color: rgb(216, 42, 42)"><fa-icon style="font-size: 25px" [icon]="faDislike"></fa-icon></div>
          </div>
          <div class="col">
            <div class="tinder-button" style="border-color: rgb(46, 128, 223); color: rgb(46, 128, 223)"><fa-icon [icon]="faSuperLike"></fa-icon></div>
          </div>
          <div class="col">
            <div class="tinder-big-button" style="border-color: rgb(38, 204, 135); color: rgb(38, 204, 135)"><fa-icon style="font-size: 25px" [icon]="faLike"></fa-icon></div>
          </div>
          <div class="col">
            <div class="tinder-button" style="border-color: rgb(189, 67, 189); color: rgb(189, 67, 189)"><fa-icon [icon]="faBoost"></fa-icon></div>
          </div>
        </div>
      </div>
      <h3>Anonymous One</h3>
      <h5>About me:</h5>
      <div class="row poem-text mb-4">
        <div>There once was a fellow who went to Purdue</div>
        <div>He decided one day to meet girls just like you</div>
        <div>He round up some courage and made a profile</div>
        <div>It finally happened, though took quite a while</div>
        <div>He opened the app to first sight of a lass</div>
        <div>Who was very pretty, but on him she said "Pass!"</div>
        <div>With what left of his courage he carried on swiping</div>
        <div>He hoped for more than just a friday night piping</div>
        <div>He wondered and craved an answer to who,</div>
        <div>Who would go out with him, could it be you?</div>
      </div>
      <div class="row back">
        <h4 routerLinkActive="active" routerLink="/welcome">Go back to main page</h4>
      </div>
    </div>
    <div class="col-3" style="position: relative">
    </div>
  </div>
</div>

