@media screen and (max-width: 770px)
  .poem-text
    font-size: 18px

@media screen and (min-width: 770px)
  .poem-text
    font-size: 25px

@media screen and (max-width: 770px)
  .title
    font-size: 23px
    margin-bottom: 40px

@media screen and (min-width: 770px)
  .title
    font-size: 30px
    margin-top: 30px
    margin-bottom: 30px

.poem-text
  font-family: 'Benne', serif
  font-weight: 500
  text-shadow: 0 0 10px #e7cccc

.title
  margin-top: 40px
  width: max-content
  position: relative
  font-family: 'Fredericka the Great', cursive
  background: linear-gradient(to right, #000000 50%, #00000000 50%)
  background-size: 200% auto
  color: #000
  background-clip: text
  text-fill-color: transparent
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  animation: appear 4s linear 0.5s 1
  background-position: 100% center
  @keyframes appear
    0%
      background-position: 100% center
    25%
      background-position: 100% center
    100%
      background-position: 0% center

#pencil
  filter: drop-shadow(0px 0px 2px black)
  position: absolute
  background-color: #e2e249
  opacity: 0
  top: 0%
  left: 0%
  width: 10px
  height: 40px
  animation: draw 5s linear 0.5s 1
  &::before
    content: ''
    position: absolute
    background-color: #b36161
    width: 100%
    height: 25%
    bottom: 100%
    left: 0%
    border-radius: 3px 3px 0px 0px
  &::after
    content: ''
    position: absolute
    background: linear-gradient(#b69b84 50%, #000)
    width: 100%
    height: 40%
    top: 100%
    left: 0%
    clip-path: polygon(50% 100%, 0 0, 100% 0)

@keyframes draw
  0%
    opacity: 0
    transform: translate(20px, -15px) rotate(43deg)
  20%
    opacity: 1
    left: 0%
    transform: translate(20px, -15px) rotate(43deg)
  27.5%
    left: 12.5%
    transform: translate(30px, -20px) rotate(70deg)
  35%
    left: 25%
    transform: translate(27px, -10px) rotate(57deg)
  42.5%
    left: 37.5%
    transform: translate(30px, -20px) rotate(70deg)
  50%
    left: 50%
    transform: translate(27px, -10px) rotate(57deg)
  57.5%
    left: 62.5%
    transform: translate(30px, -20px) rotate(70deg)
  65%
    left: 75%
    transform: translate(27px, -10px) rotate(57deg)
  72%
    left: 87.5%
    transform: translate(30px, -20px) rotate(70deg)
  80%
    left: 100%
    transform: translate(27px, -10px) rotate(57deg)
    opacity: 1
  90%
    left: 120%
    transform: rotate(90deg)
    opacity: 0

.container
  border-right: 10px grey
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px
  background: repeat url('../../../assets/leather.jfif')
  border-right: 5px solid #503427
  border-left: 5px solid #503427

.col-10
  background: repeat url('../../../assets/paper.jfif')
  border-right: 6px ridge #cccccc
  border-left: 6px ridge #cccccc
  box-shadow: rgba(0, 0, 0, 0.534) 16px 0px 20px 0px, rgba(0, 0, 0, 0.5) -16px 0px 20px 1px

.bookmark-icon
  color: #dd3f3f
  font-size: 100px
  position: fixed
  top: 0px
  right: 10px
  transition: top 0.2s ease-in-out
  filter: drop-shadow(10px 5px 8px #00000075)

.bookmark-text
  color: white
  position: fixed
  top: 5px
  right: 57px
  transition: top 0.2s ease-in-out

.bookmark
  cursor: pointer
  z-index: 2000

.bookmark:hover .bookmark-text
  top: 15px

.bookmark:hover .bookmark-icon
  top: 10px

@media screen and (max-width: 770px)
  .bookmark-icon
    transform: translate(20px, -35px) scaleY(1.8) scaleX(0.6)

  .bookmark-text
    transform: translate(55px, 0px)
    width: 50px

@media screen and (min-width: 770px)
  .bookmark-icon
    transform: translate(-45px, -35px) scaleY(1.5)
    right: 10%

  .bookmark-text
    width: 70px
    right: 10%
    transform: translateX(-47px)

@media screen and (min-width: 1200px)
  .bookmark-icon
    transform: translate(-45px, -35px) scaleY(1.5)
    right: 20%

  .bookmark-text
    width: 70px
    right: 20%
    transform: translateX(-47px)

.important
  margin-bottom: 5px
  text-shadow: 0 0 10px #df8888



