<div class="page">
  <div class="container text-center">
    <div class="row">
      <div class="col" style="position: relative">
      </div>
      <div class="col-10" style="position: relative">
        <h2 class="title">Love Life Literature</h2>
        <div class="poem-text mb-4">
          <div>My thoughts down on paper, to speak them for you</div>
          <div class="important">Share me your wisdom, whats a man meant to do</div>
          <div>In search of a mate, a friend like the best</div>
          <div>On apps and in person, the attraction contest</div>
          <div>Find the right women, hope they're not gone</div>
          <div>Wondering woefully what you've done wrong</div>
          <div>Crying for cues with curious questions</div>
          <div>these plaguing thoughts give me mental congestions</div>
          <div>Where is my women with indulgent intentions</div>
          <div>Could she be real, or one of my inventions?</div>
          <div>A love for life, and things meant for playing</div>
          <div>To share my interests, thats all that I'm saying</div>
          <div>A necessity to live, that most of us go through</div>
          <div class="important">Share me your wisdom, whats a man meant to do</div>
          <br>
          <div>The search for happiness and longing for love</div>
          <div>Hoping to meet them before the great above</div>
          <div>Loneliness leads to lackluster living</div>
          <div>Get the girl who's the gift that keeps giving</div>
          <div>She's hiding in holes far from harm and harrow</div>
          <div>She's out there, I swear it, my search must be narrow</div>
          <div>Counting on coincidence for out paths to congrue</div>
          <div class="important">Share me your wisdom, whats a man meant to do</div>
          <br>
          <div>Oft I hear the story of couples intersection</div>
          <div>Oft I desire for companionate perfection</div>
          <div>In my mind I construct the spouse to help with lifes trials</div>
          <div>Creating the perfect partner with duplicitous dials</div>
          <div>Devising a wife like a trophy with gilding</div>
          <div>Breeding standards higher than the Empire State Building</div>
          <div>Then comes the day foretold like a fate</div>
          <div>Just like the fish bound to come for the bait</div>
          <div>A beautiful creature to those with any eyes</div>
          <div>With a future of happiness till the day that she dies</div>
          <div>But her interest in me is so wistfully wasted</div>
          <div>Idiotifcally infatuated with fake love that I've tasted</div>
          <div>She moves on to more men with much melancholy</div>
          <div>"He was the right one," she believed quite fully</div>
          <div>This pitiful possibility does leave me quite blue</div>
          <div class="important">Share me your wisdom whats a man meant to do</div>
        </div>
        <div class="bookmark" routerLinkActive="active" routerLink="/welcome">
          <fa-icon class="bookmark-icon" [icon]="bookmark"></fa-icon>
          <div class="bookmark-text">Back to main page</div>
        </div>
      </div>
      <div class="col" style="position: relative">
      </div>
    </div>
  </div>
</div>

