<div class="container text-center">
  <div class="row">
    <div class="col" style="position: relative">
    </div>
    <div class="col-md-8 col-sm-12">
      <h2>You Must Be This Happy To Ride This Ride</h2>
      <div class="poem-text mb-4">
        <div>I was told to write a poem with rhyming</div>
        <div>So there is the wall, the one meant for climbing</div>
        <div>Whether you go for pleasure or daily exercise</div>
        <div>Plotting the path which permits you to rise</div>
        <div>It builds you the muscle to be built and strong</div>
        <div>Fearing the hold that could lead you wrong</div>
        <div>A colorful facade sprinkled with rocks</div>
        <div>A gym meant for thin men, not for jocks</div>
        <div>Deading the fall, the pain could be dire</div>
        <div>Yet up on the wall, I desire for higher</div>
        <div>With finger jams and tiny holds</div>
        <div>Gotta practice that high level move</div>
        <div>Keep climbing till the day you're old</div>
        <div>There's always some room to improve</div>
        <br>
        <div>Though I've happened upon the probable problem</div>
        <div>Of which climbers abilities it does rob them</div>
        <div>The inevitable injury to my body</div>
        <div>The price to pay for being gaudy</div>
        <div>And so I sit here, hearing of others</div>
        <div>Convening and climbing with sisters and brothers</div>
      </div>
      <button class="btn btn-secondary" routerLinkActive="active" routerLink="/welcome">Back to main page</button>
    </div>
    <div class="col" style="position: relative">
    </div>
  </div>
</div>
