<div class="background">

  <!-- Header for DESKTOP -->
  <div class="navbar" *ngIf="!styleService.getIsMobile()">
    <div class="col text-center header mx-3">
      <h1>
        <fa-icon [icon]="faLeft"></fa-icon>
        <span class="mx-3">Welcome to Rhythmic Respite!</span>
        <fa-icon [icon]="faRight"></fa-icon>
      </h1>
    </div>
  </div>

  <!-- Header for MOBILE -->
  <div class="navbar text-center" *ngIf="styleService.getIsMobile()">
    <div class="col-3" style="font-size: 40px;">
      <fa-icon [icon]="faLeft"></fa-icon>
    </div>
    <div class="col header">
      <h1 class="text-center">
        <span class="mx-auto text-center">Welcome to Rhythmic Respite!</span>
      </h1>
    </div>
    <div class="col-3" style="font-size: 40px;">
      <fa-icon [icon]="faRight"></fa-icon>
    </div>
  </div>

  <div class="container text-center mt-3 content">
    <h2>My personal anthology of introspection, put on display for the curious ear</h2>

    <div class="row">

    </div>

    <div class="form-group">
      <label class="form-label mt-4 py-2 px-4 mb-0 search-label">Looking for a specific Poem?</label>
      <div class="form-group">
        <div class="input-group mb-3 search-bar">
          <span class="input-group-text test1"><fa-icon class="test2" [icon]="faSearch"></fa-icon></span>
          <input [(ngModel)]="searchTerm" type="text" class="form-control" (keyup)="filterPoems()" placeholder="Search by title..." aria-label="Recipient's username" aria-describedby="button-addon2">
          <button *ngIf="searchTerm !== ''" (click)="clearSearch()" class="btn btn-danger" type="button" id="button-addon2"><fa-icon [icon]="faClear"></fa-icon> Clear</button>
        </div>
      </div>
    </div>

    <div style="border: 2px solid black; border-radius: 20px; background-color: white;">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Length</th>
            <th scope="col">Word Count</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="goToPoem(poem.id)" *ngFor="let poem of filteredPoems" style="cursor: pointer" [ngClass]="{'table-warning': poem.length === 'Short', 'table-success': poem.length === 'Medium', 'table-info': poem.length === 'Long', 'unimplemented': poem.implemented === 'No'}">
            <th scope="row">{{poem?.title}}</th>
            <td>{{poem?.length}}</td>
            <td>{{poem?.count}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


