.poem-text
  font-size: 20px
  font-family: 'Edu NSW ACT Foundation', cursive
  font-weight: 500

.mountain
  position: absolute
  bottom: -30px
  right: 10px
  font-size: 150px
  opacity: 0.5

.moon
  position: absolute
  right: -20px
  font-size: 100px
  opacity: 0.5

.city
  position: absolute
  left: 10px
  bottom: -20px
  font-size: 150px
  opacity: 0.5

.sun
  position: absolute
  left: -20px
  font-size: 100px
  opacity: 0.5
