<!-- *********************    THIS IS FOR MOBILE    ********************** -->
<div class="background" id='compBackground' *ngIf="!styleService.getIsMobile()">
  <div class="container text-center">
    <div class="row">
      <div class="col" style="position: relative">
        <div class="moon-container">
          <div class="moon"></div>
          <div class="cloud1"></div>
          <div class="cloud2"></div>
        </div>
        <div class="city">
          <div class="building1"><div class="windows3" *ngFor="let window of windowArray3"></div></div>
          <div class="building2"><div class="windows2" *ngFor="let window of windowArray2"></div></div>
          <div class="building3"><div class="windows1" *ngFor="let window of windowArray1"></div></div>
          <div class="car1"><fa-icon [icon]="faCar"></fa-icon></div>
          <div class="car2"><fa-icon [icon]="faCar"></fa-icon></div>
        </div>
      </div>
      <div class="col-md-6 col-10-sm mb-4">
        <h2 style="text-decoration: underline; margin-top: 30px">Intro</h2>
        <div class="poem-text mb-4">
          <div>I wrote this poem for <strong>people like you</strong></div>
          <div>Intrigued to hear the <strong>rhymes that I do</strong></div>
          <div><strong>Never sure</strong> which one to read you first</div>
          <div>So I fused my <strong>thoughts</strong> into this verse</div>
          <div>I've <strong>hundreds</strong> of interests, but excel at <strong>not one</strong></div>
          <div>A <strong>jack of all trades</strong>, and a <strong>master of none</strong></div>
          <div>A <strong>dabble</strong> in this and I <strong>dally</strong> in that</div>
          <div>I <strong>avoid</strong> hard tasks like an acrobat</div>
          <div>I <strong>hate</strong> most things that require my work</div>
          <div>But my <strong>hunger</strong> for <strong>perfection</strong> is quite a jerk</div>
          <div>My cat makes me feel of <strong>glee</strong> and <strong>glad</strong></div>
          <div>My murder mitten'd <strong>Midna</strong> in <strong>mightnight clad</strong></div>
          <div>If you saw what I eat you'd think I was <strong>fat</strong></div>
          <div>But I <strong>stave</strong> of size with a <strong>wall</strong> and a <strong>mat</strong></div>
          <div>It <strong>used to</strong> be, that fast I could run</div>
          <div>But I <strong>ditched that shit</strong> for something more <strong>fun</strong></div>
          <div>Instead of <strong>sloshing</strong> around my insides</div>
          <div>I climb up heights which <strong>thrills</strong> and <strong>excites</strong></div>
          <div>And now you know the things <strong>I've</strong> been through</div>
          <div>Enough about me, lets hear about <strong>you</strong></div>
        </div>
        <button class="btn btn-secondary" routerLinkActive="active" routerLink="/welcome">Back to main page</button>
      </div>
      <div class="col" style="position: relative">
        <div class="sun"></div>
        <div class="tree">
          <div class="trunk"></div>
          <div class="leaves"></div>
          <div class="low-leaves"></div>
          <div ><fa-icon class="falling-leaves" *ngFor="let leaf of leafArray" [icon]="faLeaf"></fa-icon></div>
        </div>
      </div>
    </div>
  </div>
  <div id="ground"></div>
</div>

<!-- *********************    THIS IS FOR MOBILE    ********************** -->
<div class="background" *ngIf="styleService.getIsMobile()">
  <div class="container text-center">
    <div class="row">
      <div class="col" style="position: relative">
        <div class="moon-container" style="height: 100%; position: relative">
          <div class="moon"></div>
          <div class="cloud1" style="top: 60%"></div>
          <div class="cloud2" style="top: 40%"></div>
        </div>
      </div>
      <div class="col">
      <h2 style="text-decoration: underline; margin-top: 30px">Intro</h2>
      </div>
      <div class="col">
        <div class="sun"></div>
      </div>
    </div>
    <div class="row">
      <div class="poem-text mb-4">
        <div>I wrote this poem for <strong>people like you</strong></div>
        <div>Intrigued to hear the <strong>rhymes that I do</strong></div>
        <div><strong>Never sure</strong> which one to read you first</div>
        <div>So I fused my <strong>thoughts</strong> into this verse</div>
        <div>I've <strong>hundreds</strong> of interests, but excel at <strong>not one</strong></div>
        <div>A <strong>jack of all trades</strong>, and a <strong>master of none</strong></div>
        <div>A <strong>dabble</strong> in this and I <strong>dally</strong> in that</div>
        <div>I <strong>avoid</strong> hard tasks like an acrobat</div>
        <div>I <strong>hate</strong> most things that require my work</div>
        <div>But my <strong>hunger</strong> for <strong>perfection</strong> is quite a jerk</div>
        <div>My cat makes me feel of <strong>glee</strong> and <strong>glad</strong></div>
        <div>My murder mitten'd <strong>Midna</strong> in <strong>mightnight clad</strong></div>
        <div>If you saw what I eat you'd think I was <strong>fat</strong></div>
        <div>But I <strong>stave</strong> of size with a <strong>wall</strong> and a <strong>mat</strong></div>
        <div>It <strong>used to</strong> be, that fast I could run</div>
        <div>But I <strong>ditched that shit</strong> for something more fun</div>
        <div>Instead of <strong>sloshing</strong> around my insides</div>
        <div>I climb up heights which <strong>thrills</strong> and <strong>excites</strong></div>
        <div>And now you know the things <strong>I've</strong> been through</div>
        <div>Enough about me, lets hear about <strong>you</strong></div>
      </div>
    </div>
    <div class="row" style="position: relative;">
      <div class="col" style="min-height: 150px; position: relative;">
        <div class="city" style="left: 10%">
          <div class="building1"><div class="windows3" *ngFor="let window of windowArray3"></div></div>
          <div class="building2"><div class="windows2" *ngFor="let window of windowArray2"></div></div>
          <div class="building3"><div class="windows1" *ngFor="let window of windowArray1"></div></div>
          <div class="car1"><fa-icon [icon]="faCar"></fa-icon></div>
          <div class="car2"><fa-icon [icon]="faCar"></fa-icon></div>
        </div>
      </div>
      <div class="col" style="min-height: 150px; position: relative">
        <div class="tree" style="left: 25%">
          <div class="trunk"></div>
          <div class="leaves"></div>
          <div class="low-leaves"></div>
          <div ><fa-icon class="falling-leaves" *ngFor="let leaf of leafArray" [icon]="faLeaf"></fa-icon></div>
        </div>
      </div>
      <button class="btn btn-secondary mb-2" routerLinkActive="active" routerLink="/welcome">Back to main page</button>
    </div>
  </div>
</div>
