<div class="background">
  <!-- <div class="ball-container">
    <div class="orb"></div>
    <div class="stand"></div>
    <div class="sparkles1" *ngFor="let sparkle of sparkles"><fa-icon [icon]="faStar"></fa-icon></div>
    <div class="sparkles2"><fa-icon [icon]="faAltStar"></fa-icon></div>
  </div> -->
  <!-- <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g id="smoke">
      <path id="smoke-2" d="M9 21L9.55279 19.8944C9.83431 19.3314 9.83431 18.6686 9.55279 18.1056L9 17L8.44721 15.8944C8.16569 15.3314 8.16569 14.6686 8.44721 14.1056L9 13" stroke="#797270"/>
      <path id="smoke-1" d="M6.5 22L7.05279 20.8944C7.33431 20.3314 7.33431 19.6686 7.05279 19.1056L6.5 18L5.94721 16.8944C5.66569 16.3314 5.66569 15.6686 5.94721 15.1056L6.5 14" stroke="#797270"/>
    </g>
  </svg>
  <img src="https://www.dropbox.com/s/g02pto204mz1ywi/sun.png?raw=1" alt="Sun" class="system__icon system__icon--sun"> -->
  <div class="glass shard-1"></div>
  <div class="glass shard-2"></div>
  <div class="glass shard-3"></div>
</div>
