<div class="my-container">
  <div id="title">
    <h2>Child</h2>
  </div>
  <div class="poem-text">
    <div id="stanza1">
      <div id="line1">They say those who are heartless once cared too much</div>
      <div id="line2">A curse born to those who lack a soft touch</div>
      <div id="line3">I stand and stare into that clouded abyss</div>
      <div id="line4">Of where I might be if life goes amiss</div>
      <div id="line5">A place void of love and comfort and care</div>
      <div id="line6">With no hope of curing the chronic despair</div>
      <div id="line7">But I'm not yet enveloped whole by the black</div>
      <div id="line8">A race with the clock to make my way back</div>
      <div id="line9">An outstretched hand is all I can afford</div>
      <div id="line10">Unsure of what I'm reaching toward</div>
      <div id="line11">I manage to grab hold of my saving grace</div>
      <div id="line12">Pulled from the deep of shadow's embrace</div>
      <div id="line13">The face of salvation I did not expect</div>
      <div id="line14">An appearance that mine does partially reflect</div>
      <div id="line15">Plucked from gloom by my sweet tender child</div>
      <div id="line16">We locked our twin eyes and simply just smiled</div>
      <div id="line17">A reason to live for and cause to die for</div>
      <div id="line18">An innocent embodiment of immense ardour</div>
      <div id="line19">By whatever means that fate has brought her</div>
      <div id="line20">I'll cherish the honor to call her my daughter</div>
    </div>
    <div id="space1"></div>
    <div id="stanza2">
      <div id="line21">And as you grow older I'll be there for you</div>
      <div id="line22">Doting as much as most fathers do</div>
      <div id="line23">A life filled with games and vast pillow forts</div>
      <div id="line24">I'll be the jester of your royal courts</div>
      <div id="line25">I'll watch as the princess becomes the queen</div>
      <div id="line26">An adult, for sure, but still my lil bean</div>
      <div id="line27">Pondering love as you fish from the sea</div>
      <div id="line28">Its not rocket science, but chemistry</div>
      <div id="line29">You'll find that one person who makes you merry</div>
      <div id="line30">Whoever they are, they won't stop me from caring</div>
      <div id="line31">Linking our arms as we walk down the aisle</div>
      <div id="line32">A bittersweet moment with tears and a smile</div>
      <div id="line33">Someday you'll know the feeling as well</div>
      <div id="line34">A young one inside your abdominal cell</div>
      <div id="line35">And as they grow you'll come to find</div>
      <div id="line36">Its naught but them thats on your mind</div>
      <div id="line37">And naught in this world that can compare</div>
      <div id="line38">To the moments that we may share</div>
    </div>
    <div id="space2"></div>
    <div id="stanza3">
      <div id="line39">But you aren't a triumph that's solely mine</div>
      <div id="line40">My sweet second self for whom I do pine</div>
      <div id="line41">She'll be more than just a means to an end</div>
      <div id="line42">A stunning soulmate and lifelong friend</div>
      <div id="line43">But a liar I'd be if I said I didn't yearn</div>
      <div id="line44">For the news of a daughter, that I must earn</div>
      <div id="line45">Like a wolf on the prowl, I'm searching for my dear</div>
      <div id="line46">Pursuing my dreams helps me escape my fear</div>
      <div id="line47">Of A world where you never get to exist</div>
      <div id="line48">A nightmare that I franticly resist</div>
      <div id="line49">Time is a fire and my life is the fuse</div>
      <div id="line50">Waiting for my chance to have something to lose</div>
    </div>
  </div>
  <div class="button-container">
    <button id="back" routerLink="/welcome" (click)="changeBackground()">Back to main page
      <div id="left-border"></div>
      <div id="top-border"></div>
      <div id="bottom-border"></div>
      <div id="right-border"></div>
    </button>
  </div>
</div>
