<div class="background">
  <div class="my-container">
    <div class="title pt-4 mb-5">
      <h2 class="mx-auto">Missed Opportunity</h2>
    </div>
    <div class="poem-text">
      <div id="line1">
        <span class="italic">"I'm </span>
        <span class="italic">gonna </span>
        <span class="italic">be </span>
        <span class="italic">late!" </span>
        <span>Was </span>
        <span>his </span>
        <span>fleeting </span>
        <span>thought</span>
      </div>
      <div id="line2">
        <span>With </span>
        <span>embarrassing </span>
        <span>entrances </span>
        <span>was </span>
        <span>seminar </span>
        <span>fraught</span>
      </div>
      <div id="line3">
        <span>But </span>
        <span>he </span>
        <span>entered </span>
        <span>and </span>
        <span>met </span>
        <span>with </span>
        <span>beautiful </span>
        <span>eyes</span>
      </div>
      <div id="line4">
        <span>A </span>
        <span>beckoning </span>
        <span>hand </span>
        <span>and </span>
        <span>welcoming </span>
        <span>guise</span>
      </div>
      <div id="line5">
        <span>She </span>
        <span>invited </span>
        <span>him </span>
        <span>in </span>
        <span>to </span>
        <span>sit </span>
        <span>and </span>
        <span>wait</span>
      </div>
      <div id="line6">
        <span>Her </span>
        <span>sideward </span>
        <span>seat </span>
        <span>fertile </span>
        <span>with </span>
        <span>fate</span>
      </div>
      <div id="line7">
        <span class="italic">"No </span>
        <span class="italic">thanks" </span>
        <span>he </span>
        <span>said </span>
        <span>and </span>
        <span>denied </span>
        <span>her </span>
        <span>hand</span>
      </div>
      <div id="line8">
        <span class="italic">"I'm </span>
        <span class="italic">here </span>
        <span class="italic">to </span>
        <span class="italic">sit </span>
        <span class="italic">with </span>
        <span class="italic">my </span>
        <span class="italic">previous </span>
        <span class="italic">band"</span>
      </div>
      <div id="line9">
        <span>He </span>
        <span>slipped </span>
        <span>her </span>
        <span>by </span>
        <span>like </span>
        <span>wind </span>
        <span>through </span>
        <span>her </span>
        <span>hair</span>
      </div>
      <div id="line10">
        <span>His </span>
        <span>mind </span>
        <span>as </span>
        <span>empty </span>
        <span>as </span>
        <span>the </span>
        <span>chair</span>
      </div>
      <div id="line11">
        <span>But </span>
        <span>that's </span>
        <span>not </span>
        <span>all </span>
        <span>that </span>
        <span>happened </span>
        <span>to </span>
        <span>pass</span>
      </div>
      <div id="line12">
        <span>He </span>
        <span>wasn't </span>
        <span>done </span>
        <span>proving </span>
        <span>himself </span>
        <span>an </span>
        <span>ass</span>
      </div>
      <div id="line13">
        <span>With </span>
        <span>seminar </span>
        <span>over, </span>
        <span>and </span>
        <span>debates </span>
        <span>all </span>
        <span>around</span>
      </div>
      <div id="line14">
        <span>She </span>
        <span>approached </span>
        <span>once </span>
        <span>more </span>
        <span>with </span>
        <span>her </span>
        <span>courage </span>
        <span>found</span>
      </div>
      <div id="line15">
        <span class="italic">"I </span>
        <span class="italic">like </span>
        <span class="italic">your </span>
        <span class="italic">shirt," </span>
        <span>yet </span>
        <span>her </span>
        <span>words </span>
        <span>fall </span>
        <span>flat</span>
      </div>
      <div id="line16">
        <span>Not </span>
        <span>reaching </span>
        <span>the </span>
        <span>clouds </span>
        <span>where </span>
        <span>his </span>
        <span>head </span>
        <span>is </span>
        <span>at</span>
      </div>
      <div id="line17">
        <span>She </span>
        <span>left </span>
        <span>her </span>
        <span>suitor </span>
        <span>with </span>
        <span>naught </span>
        <span>but </span>
        <span>a </span>
        <span class="italic">"Thanks!"</span>
      </div>
      <div id="line18">
        <span>Definitively </span>
        <span>deposited </span>
        <span>in </span>
        <span>his </span>
        <span>memory </span>
        <span>banks</span>
      </div>
      <div id="line19">
        <span>And </span>
        <span>while </span>
        <span>this </span>
        <span>moment </span>
        <span>doesn't </span>
        <span>make </span>
        <span>him </span>
        <span>cry</span>
      </div>
      <div id="line20">
        <span>Remembering </span>
        <span>definitely </span>
        <span>makes </span>
        <span>him </span>
        <span>want </span>
        <span>to </span>
        <span>die</span>
      </div>
    </div>
    <div class="button-container mt-3 pb-2">
      <button id="back" routerLink="/welcome">Back to main page</button>
    </div>
  </div>
</div>
