<div class="container text-center">
  <div class="row">
    <div class="col" style="position: relative">
    </div>
    <div class="col-6">
      <h2 class="title">Glass Rose</h2>
      <div class="poem-text mb-4">
        <div>I happened upon a clear glass rose</div>
        <div>A sheen of green wehre up it flows</div>
        <div>Into the petals, outward spread</div>
        <div>Loves epitome, made of red</div>
        <div>It mirrors, mocks, yet inspires</div>
        <div>The core feelings and deep desires</div>
        <div>And now I see the metaphor</div>
        <div>The perfect tale that it doth bore</div>
        <div>Love does not lie, or lead you on</div>
        <div>Its clear as day, to dusk from dawn</div>
        <div>Pure and candid to all it shows</div>
        <div>Not unlike a clear glass rose</div>
        <br>
        <div>The crimson lips are delicate</div>
        <div>The stalk, a bit a hypocrite</div>
        <div>For it bears many a thorn</div>
        <div>Beauty's way to stay forlorn</div>
        <div>Its form implies fragility</div>
        <div>Not crystalline stability</div>
        <div>The rose suggest soft and subtle</div>
        <div>The glass returns a stiff rebuttle</div>
        <div>While its beauty can be distracting</div>
        <div>Let not its guise become detracting</div>
        <div>The brittle build of this bauble</div>
        <div>Conceals the strength true of cobble</div>
        <div>And yet again I see the tale</div>
        <div>The narrative the rose doth veil</div>
        <div>Love is tender and tenacious</div>
        <div>Its stength can last throughout the ages</div>
        <div>And through my strife and all my woes</div>
        <div>I'll look back to my clear glass rose</div>
      </div>
    </div>
    <div class="col-3" style="position: relative">
      <button class="btn btn-danger mb-5" style="position: fixed; transform: translate(-100px, 50px);" routerLinkActive="active" routerLink="/welcome">Back to main page</button>
    </div>
  </div>
</div>

