<div class="container text-center">
  <div class="row">
    <div class="col" style="position: relative">
    </div>
    <div class="col-8">
      <h2>You Must Be This Happy To Ride This Ride</h2>
      <div class="poem-text mb-4">
        <div>You were <strong>all</strong> I ever desired, yet having <strong>known</strong> it now, I wish I'd <strong>never</strong> got it...</div>
        <div>The <strong>ignorance</strong> of my <strong>ignorance</strong> was true <strong>bliss</strong>.</div>
        <br>
        <div class="important">But I didn't know it</div>
        <br>
        <div>The <strong>excitement</strong> of my new life <strong>quickly quashed</strong> at the thought of what it could be <strong>missing</strong></div>
        <div>Yet the only thing <strong>worse</strong> than your absence...</div>
        <div class="important">...is your pity</div>
        <br>
        <div>Wondering if its possible to not be <strong>personal</strong></div>
        <div>When you'd pick another based on their <strong>person</strong></div>
        <br>
        <div>As our similarities inch you closer to <strong>perfection</strong></div>
        <div>It only widens the <strong>hole</strong> in my heart that I wanted you to <strong>fill</strong></div>
        <div>Because you would be that much a <strong>bigger</strong> part of my life</div>
        <br>
        <div>Your words were so <strong>soft</strong> and <strong>sweet</strong>, yet they hurt like the <strong>sharpest knife</strong></div>
        <div>Their <strong>intangible form</strong> didn't prevent my <strong>bleeding heart</strong></div>
        <div>I'm dying to <strong>see you</strong> and I'm dying <strong>without you</strong>,</div>
        <div>But I'm dying <strong>with you</strong> and <strong>crying about you</strong></div>
        <br>
        <div>I thought knowing your <strong>disinterest</strong> would help me more</div>
        <div>But now I ponder what you <strong>dislike</strong> me for</div>
        <div>I wonder if you wanted a more <strong>machismo man</strong></div>
        <div>And desired someone you could <strong>look up to</strong></div>
        <div>Or if you wanted a flow of <strong>more open thoughts</strong></div>
        <div>From someone who <strong>needn't ask</strong> to connect the dots</div>
        <br>
        <div>I <strong>wasn't afraid</strong> to change for you</div>
        <div>But I <strong>wasn't sure</strong> what to change into</div>
        <div>The change was <strong>good</strong> and I'm <strong>happy</strong> I did it</div>
        <div>But a <strong>goal without a reward</strong> is harder to strive for</div>
        <br>
        <div>I wanted life with you to be an <strong>adventure</strong></div>
        <div>But only halfway through did I realize it was a <strong>roller coaster</strong>...</div>
        <br>
        <div class="important">I, the rider, and you, the machine</div>
        <br>
        <div style="width: 100%; text-align: left;">Beckoning me to my highs...</div>
        <div style="width: 100%; text-align: right;">...Slipping over to my lows</div>
        <br>
        <div>But like a roller coaster, I know at the top...</div>
        <br>
        <div style="margin-right: 30%">I</div>
        <div style="margin-right: 15%">can</div>
        <div>only</div>
        <div style="margin-left: 15%">go</div>
        <div class="important" style="margin-left: 30%">down</div>
        <br>
        <div>Excited and thrilled by the <strong>fast paced peril</strong></div>
        <div>Risking <strong>life and limb</strong> just to feel a bit <strong>alive</strong></div>
        <div><strong>Danger not detering me</strong> from another ride</div>
        <br>
        <div>But I feel as though I have been <strong>thrown</strong> from my cart</div>
        <div>Just like the <strong>tragic victim</strong> who ignored the sign...</div>
        <br>
        <div class="important">"You must be this happy to ride this ride"</div>
      </div>
      <button class="btn btn-secondary" routerLinkActive="active" routerLink="/welcome">Back to main page</button>
    </div>
    <div class="col" style="position: relative">
    </div>
  </div>
</div>
