
<h2><fa-icon style="color: #d86a6a" [icon]="faFace1"></fa-icon> - Baby Gurl - <fa-icon style="color: #d86a6a" [icon]="faFace2"></fa-icon></h2>
<div class="container text-center">
  <div class="row">
    <div class="col" style="position: relative">
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="poem-text mb-2">
        <div class="heart-beat"><fa-icon style="color: red; font-size: 15px;" [icon]="faHeart"></fa-icon></div>
        <div class="row">
          <div class="col">
            <div style="text-align: right">Oh Abram, my sweetie</div>
          </div>
          <div class="col">
            <div style="text-align: left">Your muscles, so meaty</div>
          </div>
        </div>
        <div class="row">
          <div class="heart-beat"><fa-icon style="color: red; font-size: 15px;" [icon]="faHeart"></fa-icon></div>
          <div>With hair curls and clothes debonaire</div>
          <div class="heart-beat"><fa-icon style="color: red; font-size: 15px;" [icon]="faHeart"></fa-icon></div>
        </div>
        <div class="row">
          <div class="col">
            <div style="text-align: right">Often I miss you</div>
          </div>
          <div class="col">
            <div style="text-align: left">Dreaming to kiss you</div>
          </div>
        </div>
        <div class="row">
          <div class="heart-beat"><fa-icon style="color: red; font-size: 15px;" [icon]="faHeart"></fa-icon></div>
          <div>With nice lips and skin tone so fair</div>
          <div class="heart-beat"><fa-icon style="color: red; font-size: 15px;" [icon]="faHeart"></fa-icon></div>
        </div>
        <div class="row">
          <div class="col">
            <div style="text-align: right">I may not be gay</div>
          </div>
          <div class="col">
            <div style="text-align: left">But for you I'll say</div>
          </div>
        </div>
        <div class="row">
          <div class="heart-beat"><fa-icon style="color: red; font-size: 15px;" [icon]="faHeart"></fa-icon></div>
          <div>The gods envy your voluptuous bum</div>
          <div class="heart-beat"><fa-icon style="color: red; font-size: 15px;" [icon]="faHeart"></fa-icon></div>
        </div>
        <div class="row">
          <div class="col">
            <div style="text-align: right">In me, passions dwell</div>
          </div>
          <div class="col">
            <div style="text-align: left">My feelings then swell</div>
          </div>
        </div>
        <div class="row">
          <div class="heart-beat"><fa-icon style="color: red; font-size: 15px;" [icon]="faHeart"></fa-icon></div>
          <div>The thought of you makes me<span style="opacity: .75;">.</span><span style="opacity: .50;">.</span><span style="opacity: .25;">.</span><span style="opacity: .10;">.</span> </div>
          <div class="heart-beat"><fa-icon style="color: red; font-size: 15px;" [icon]="faHeart"></fa-icon></div>
        </div>
      </div>
        <button class="btn btn-danger back" routerLinkActive="active" routerLink="/welcome">Back to main page</button>
    </div>
    <div class="col" style="position: relative">
    </div>
  </div>
</div>
